<html>
    <header></header>
    <body>
        <h1>Registration form</h1>
        <form action="/registration" method="post">
            <div>
                <label for="username"><b>Login</b></label>
                <input id="username" type="text" name="username" required placeholder="Enter username" />    
            </div>
            <div>
                <label for="password"><b>Password</b></label>
                <input id="password" type="password" name="password" required placeholder="Enter password" />    
            </div>
            <button type="submit">Login</button>
        </form>
    </body>
</html>